#userInfo.pane {
	@include linearGradient(#86AECC, #F3F6F8);

	.user-info-next {
		@include hoverAction();
	}

	input {
		width:100%;
		text-align: center; 
		margin-top: 2.5%;
		padding: 10px;
	}
}

#mess{
	text-align: center;
	margin-top: 20%;
	font-size: 1.8em;
	font-weight: bolder;
}