<ion-view view-title="Drive" id="drive">
  <ion-nav-buttons side="right">
    <button class="button" id="logout" ng-click="logout()"><i class="ion ion-log-out"></i></button>
  </ion-nav-buttons>
  <ion-content class="" scroll="false">
    <div name="start" id="drive_start" ng-show="!drive_state" ng-controller="DriveStartCtrl">
      <div class="table-container">
        <div id="start_drive" class="center">
          <button ng-click="startDriving()">Start Drive</button>
        </div>
      </div>
    </div>

    <div name="driving" id="drive_driving" ng-show="drive_state" ng-controller="DriveDrivingCtrl">
      <div id="map" ng-controller="MapCtrl" data-tap-disabled="true">
        <div id="driving_avatar" ng-show="map_active"><i class="ion ion-record"></i></div>
        <ui-gmap-google-map center='map.center' zoom='map.zoom' control='map.control' options="{draggable: false}">
          <ui-gmap-map-control template="templates/end-drive.html" refresh="true" position="top-right" controller="MapControlCtrl" index="-1"></ui-gmap-map-control>
        </ui-gmap-google-map>
      </div>
      <div id="driving_details" class="padding">

        <table>
          <tr>
            <td>
              <div class="data">
                <div class="metric">{{tripData.calculated.miles | number:2}}</div>miles
              </div>
            </td>
            <td>
              <div class="data">
                <div class="metric">{{tripData.calculated.carbon | number: 2}}</div>g carbon
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="data">
                <div class="metric">$5.26</div>est. cost
              </div>
            </td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </ion-content>
</ion-view>

