<ion-view view-title="Rank" id="rank">
  <ion-nav-buttons side="right">
    <button class="button" id="logout" ng-click="logout()"><i class="ion ion-log-out"></i></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list card">

      <a class="item item-avatar" href="#" ng-repeat="user in rankedUsers">
        <img ng-src="{{user.imgurl}}">
        <h2>{{user.firstName}} {{user.lastName}}</h2>
        <p>{{user.totalCarbon}} grams of Carbon</p>
        <span class="rank">{{$index + 1}}</span>
      </a>
    </div>
  </ion-content>
</ion-view>