<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view>
  <ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Drive Tab -->
    <ion-tab title="Drive" icon-off="ion-android-car" icon-on="ion-android-car" href="#/tab/drive">
      <ion-nav-view name="tab-drive"></ion-nav-view>
    </ion-tab>

    <!-- Rank Tab -->
    <ion-tab title="Rank" icon-off="ion-trophy" icon-on="ion-trophy" href="#/tab/rank">
      <ion-nav-view name="tab-rank"></ion-nav-view>
    </ion-tab>

    <!-- Activity Tab -->
    <ion-tab title="Activity" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/activity">
      <ion-nav-view name="tab-activity"></ion-nav-view>
    </ion-tab>

    <!-- Stats Tab -->
    <ion-tab title="Stats" icon-off="ion-stats-bars" icon-on="ion-stats-bars" href="#/tab/stats">
      <ion-nav-view name="tab-stats"></ion-nav-view>
    </ion-tab>


  </ion-tabs>
</ion-view>