<ion-view view-title="Registration: User Info" id="userInfo">
	<ion-content class="padding" scroll="false">
		<form>

			<input type="text" ng-model="formData.username" name="username" placeholder="Username"></input>
			
			<input type="text" ng-model="formData.firstName" name="firstName" placeholder="First Name"></input>
			
			<input type="text" ng-model="formData.lastName" name="lastName" placeholder="Last Name"></input>
			
			<input type="password" ng-model="formData.password" name="password" placeholder="Password"></input>
		</form>

		<div id="errorStatement">{{error}}</div>
		
	</ion-content>
	<div class="bar bar-footer bar-stable user-info-next" ng-click="processForm()">
	  <div class="title">Next</div>
	</div>
</ion-view>