<ion-view view-title="Registration: User Info" id="userInfo" >
	<ion-content class="padding" ng-controller="UserInfoCtrl">
		<form name="regForm">

			<input type="text" ng-model="formData.username" name="username" placeholder="First Name" ng-minlength="4" required />
			<div ng-messages="regForm.username.$error" ng-if="regForm.username.$dirty">
  				<div ng-message="required" class="errorMess">This field is required</div>
  				<div ng-message="minlength" class="errorMess">Username must be over 3 characters</div>
			</div>

			<input type="text" ng-model="formData.firstName" name="firstName" placeholder="First Name" ng-minlength="4" required />
			<div ng-messages="regForm.firstName.$error" ng-if="regForm.firstName.$dirty">
  				<div ng-message="required" class="errorMess">This field is required</div>
  				<div ng-message="minlength" class="errorMess">Firstname must be over 3 characters</div>
			</div>
			
			<input type="text" ng-model="formData.lastName" name="lastName" placeholder="Last Name"  ng-minlength="4" required />
			<div ng-messages="regForm.lastName.$error" ng-if="regForm.lastName.$dirty">
  				<div ng-message="required" class="errorMess">This field is required</div>
  				<div ng-message="minlength" class="errorMess">Lastname must be over 3 characters</div>
			</div>
			
			<input type="password" ng-model="formData.password" name="password" placeholder="Password" ng-minlength="4" required />
			<div ng-messages="regForm.password.$error" ng-if="regForm.password.$dirty">
  				<div ng-message="required" class="errorMess">This field is required</div>
  				<div ng-message="minlength" class="errorMess">Password must be over 3 characters</div>
			</div>

			<input type="text" ng-model="formData.imgurl" name="imgurl" placeholder="URL to Profile Picture" ng-minlength="4" required />
			<div ng-messages="regForm.imgurl.$error" ng-if="regForm.imgurl.$dirty">
  				<div ng-message="minlength" class="errorMess">URL must be over 3 characters</div>
			</div>
		</form>

		<br><br>
		<div class="bar bar-footer bar-stable user-info-next" ng-click="processForm()">
	  		<div class="title">Next</div>
		</div>
	</ion-content>
</ion-view>