body {
  font-family: "Source Sans Pro" !important; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, input, button, select, textarea {
  font-family: "Source Sans Pro" !important; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.tab-nav.tabs .tab-item.tab-item-active {
  color: #0079A8; }

button#logout {
  font-size: 20px; }

ion-side-menu {
  background: #3C3C3C; }
  ion-side-menu ion-header-bar.bar-header {
    background: #3C3C3C !important;
    border: 0; }
  ion-side-menu .item {
    border: 0; }
    ion-side-menu .item .item-content {
      background-color: #616161;
      border: 0;
      color: #fff; }
      ion-side-menu .item .item-content.activated {
        background-color: #484848;
        border: 0; }
  ion-side-menu .scroll-content {
    background: #3C3C3C; }

.table-container {
  display: table !important;
  width: 100% !important;
  height: 90% !important; }
  .table-container .center {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }

.pane, .view {
  background: #43CB4B !important;
  /* Old browsers */
  background: -moz-linear-gradient(top, #43CB4B 0%, #0079A8 100%) !important;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #43CB4B), color-stop(100%, #0079A8)) !important;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #43CB4B 0%, #0079A8 100%) !important;
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #43CB4B 0%, #0079A8 100%) !important;
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #43CB4B 0%, #0079A8 100%) !important;
  /* IE10+ */
  background: linear-gradient(to bottom, #43CB4B 0%, #0079A8 100%) !important;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ) !important;
  /* IE6-9 */ }

#drive_start {
  width: 100%;
  height: 100%; }
  #drive_start #start_drive {
    text-align: center; }
    #drive_start #start_drive button {
      border: none;
      background: #fff;
      color: #000;
      width: 200px;
      height: 200px;
      border-radius: 100px;
      font-size: 18px;
      opacity: 1;
      transition: all cubic-bezier(0.43, 0.84, 0.79, 0.99) 0.2s;
      -webkit-transition: all cubic-bezier(0.43, 0.84, 0.79, 0.99) 0.2s; }
      #drive_start #start_drive button:hover {
        transform: scale(1.05, 1.05); }
      #drive_start #start_drive button:active {
        transform: scale(0.97, 0.97);
        outline: 0; }
      #drive_start #start_drive button:focus {
        outline: 0; }
      #drive_start #start_drive button:active {
        opacity: 0.8; }

#drive_driving {
  height: 100%; }
  #drive_driving #driving_avatar {
    position: absolute;
    top: 45vh;
    left: 45vw;
    font-size: 30px;
    z-index: 10;
    color: #fff;
    text-shadow: 0 0 25px #0079a8; }
  #drive_driving #end_drive {
    margin: 10px;
    padding: 10px;
    border: 0;
    background: #fff;
    transition: all cubic-bezier(0.43, 0.84, 0.79, 0.99) 0.2s;
    -webkit-transition: all cubic-bezier(0.43, 0.84, 0.79, 0.99) 0.2s; }
    #drive_driving #end_drive:hover {
      transform: scale(1.05, 1.05); }
    #drive_driving #end_drive:active {
      transform: scale(0.97, 0.97);
      outline: 0; }
    #drive_driving #end_drive:focus {
      outline: 0; }
  #drive_driving #map {
    height: 100%; }
    #drive_driving #map .angular-google-map {
      display: block;
      height: 100%; }
    #drive_driving #map .angular-google-map-container {
      height: 100%; }
  #drive_driving #driving_details {
    height: 40%;
    background: #fff;
    text-align: right;
    display: none; }
    #drive_driving #driving_details table {
      width: 100%;
      height: 100%; }
      #drive_driving #driving_details table td {
        vertical-align: middle;
        text-align: center; }
    #drive_driving #driving_details .row {
      height: 50%; }
      #drive_driving #driving_details .row .col {
        text-align: center; }
    #drive_driving #driving_details .data {
      display: inline-block;
      text-align: right; }
    #drive_driving #driving_details .metric {
      font-size: 35px;
      display: block;
      padding-bottom: 3px; }

#noAccount {
  text-align: center;
  font-size: 1.5em;
  margin-top: 8.5%;
  transition: all cubic-bezier(0.43, 0.84, 0.79, 0.99) 0.2s;
  -webkit-transition: all cubic-bezier(0.43, 0.84, 0.79, 0.99) 0.2s; }
  #noAccount:hover {
    transform: scale(1.05, 1.05); }
  #noAccount:active {
    transform: scale(0.97, 0.97);
    outline: 0; }
  #noAccount:focus {
    outline: 0; }

#logIn.pane {
  color: #fff;
  background: #7474BF !important;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7474BF 0%, #348AC7 100%) !important;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7474BF), color-stop(100%, #348AC7)) !important;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #7474BF 0%, #348AC7 100%) !important;
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #7474BF 0%, #348AC7 100%) !important;
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #7474BF 0%, #348AC7 100%) !important;
  /* IE10+ */
  background: linear-gradient(to bottom, #7474BF 0%, #348AC7 100%) !important;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ) !important;
  /* IE6-9 */ }
  #logIn.pane h1 {
    text-align: center;
    margin-top: 10%;
    color: #fff; }
  #logIn.pane .user-info-next {
    transition: all cubic-bezier(0.43, 0.84, 0.79, 0.99) 0.2s;
    -webkit-transition: all cubic-bezier(0.43, 0.84, 0.79, 0.99) 0.2s; }
    #logIn.pane .user-info-next:hover {
      transform: scale(1.05, 1.05); }
    #logIn.pane .user-info-next:active {
      transform: scale(0.97, 0.97);
      outline: 0; }
    #logIn.pane .user-info-next:focus {
      outline: 0; }
  #logIn.pane #logInUser {
    margin-top: 15%; }
  #logIn.pane input {
    width: 100%;
    text-align: center;
    margin-top: 2.5%;
    padding: 10px;
    margin-top: 7.5%; }

#userInfo.pane {
  background: #43CB4B !important; }
  #userInfo.pane .user-info-next {
    transition: all cubic-bezier(0.43, 0.84, 0.79, 0.99) 0.2s;
    -webkit-transition: all cubic-bezier(0.43, 0.84, 0.79, 0.99) 0.2s; }
    #userInfo.pane .user-info-next:hover {
      transform: scale(1.05, 1.05); }
    #userInfo.pane .user-info-next:active {
      transform: scale(0.97, 0.97);
      outline: 0; }
    #userInfo.pane .user-info-next:focus {
      outline: 0; }
  #userInfo.pane input {
    width: 100%;
    text-align: center;
    margin-top: 2.5%;
    padding: 10px; }

#rank.pane {
  background: #7474BF !important;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7474BF 0%, #348AC7 100%) !important;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7474BF), color-stop(100%, #348AC7)) !important;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #7474BF 0%, #348AC7 100%) !important;
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #7474BF 0%, #348AC7 100%) !important;
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #7474BF 0%, #348AC7 100%) !important;
  /* IE10+ */
  background: linear-gradient(to bottom, #7474BF 0%, #348AC7 100%) !important;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ) !important;
  /* IE6-9 */ }
  #rank.pane .list > a.item-avatar {
    padding-right: 72px; }
    #rank.pane .list > a.item-avatar > span {
      position: absolute;
      top: 25px;
      right: 16px;
      max-width: 40px;
      max-height: 40px;
      width: 100%;
      height: 100%;
      font-size: 20px;
      text-align: right; }
      #rank.pane .list > a.item-avatar > span:before {
        content: "#"; }
  #rank.pane .list > a span.rank:before {
    content: "#"; }
